
// Shades of gray
$gray80: #313131;
$gray60: #3f3f3f;
$gray50: #585858;
$gray40: #737373;
$gray30: #b5b5b5;
$gray20: #ececec;
$gray10: #fafafa;

$primary-color: #2984a8;
$primary-darker-color: #126080;
